.btn{
  padding: 8px 20px;
  background: transparent;
  border: 1px solid color-primary;
  color: color-primary;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
}
.btn-block{
  width: 100%;
}
.btn:hover{
  background: color-primary;
  color: #ffffff;
}
.btn:active{
  background: color-primary - 20;
}
