header{
  background:color-primary;
  padding:5px 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  z-index: 2;
  .logo{
    width: 230px;
    img{
      width: 100%;
    }
  }
}
