color-primary = rgba(15,63,126,1);
color-complementary = rgba(223,104,0,1);
color-segundary = rgba(21,122,177,1);
color-text = rgba(38,38,38,1);
@import 'reset.styl'
@import 'grid.styl'
@import 'nav.styl'
@import 'filter.styl'
@import 'input.styl'
@import 'btn.styl'
@import 'hotel.styl'
